html, body 
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

#leftSide
{
    width: 50%;
    height: 100%;
    background-image: url(../images/LeftSlide.jpg);
    z-index: 1;
    position: absolute;
    left: 0;
}
#rightSide
{
    width: 50%;
    height: 100%;
    background-image: url(../images/RightSlide.jpg);
    z-index: 1;
    position: absolute;
    right: 0;
}
#circle 
{
    width: 100px;
    height: 100px;
    background: #71D7F0;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    visibility: hidden;
}


.global 
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    background-image: url(../images/Ji9qebSpSlSbnsWRZnDX__MG_9520.jpg);
    background-size: 100%;
}
    
.global:before 
{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: ''; 
}

.navWrapper
{
    background-color: transparent;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
    width: 80%;
    height: 65%;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 18px;
}

.nav ul
{
    white-space: nowrap;
    padding: 0;
    padding-top: 25px;
}

.nav ul li
{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.nav ul li img
{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.nav ul li p
{
    color: #000000;
    text-align: center;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0;
}

.nav ul li:hover img
{
    opacity: 0.7;
}

.nav ul li:hover p
{
    background-color: #ff3333;
    color: black;
}

.nav ul li a
{
    text-decoration: none;
}

.content
{
    background-color: #FFFFFF;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
    width: 80%;
    height: 1200px;
    margin-top: 50px;
    -webkit-box-shadow: 0px 0px 52px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 52px 5px rgba(0,0,0,1);
    box-shadow: 0px 0px 52px 5px rgba(0,0,0,1);
}

.speakerLeft, .speakerRight
{
    width: 100%;
    height: auto;
    height: 250px;
    visibility: hidden;
}

.speakerLeft img
{
    width: 170px;
    height: 250px;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

.speakerLeft p
{
    font-size: 18px;
    width: 80%;
    padding-left: 50px;
    padding-right: 25px;
}

.speakerRight img
{
    width: 170px;
    height: 250px;
    float: right;
    margin-left: 25px;
    margin-right: 25px;
}

.speakerRight p
{
    font-size: 18px;
    width: 80%;
    padding-left: 25px;
    padding-right: 50px;
}

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

#rightSide p
{
    font-size: 20px;
    padding-top: 150px;
    padding-left: 45px;
    padding-right: 45px;
    color: white;
}

#leftSide h1
{
    color: red;
    margin-top: 150px;
    margin-left:  200px;
    font-size: 60px;
}